/** Custom CSS **/

body {
    font-family: 'Arial', sans-serif;
    background-color: #2e2e2e;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    margin: 5em;
}

.instructions {
    padding-top: 1em;
}

.personas {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.persona {
    margin: 1em;
    padding: 1em;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-family: monospace;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

pre {
    display: inline;
    font-family: monospace;
    background-color: #100f0f;
    border-color: #fff;
    border-radius: 0.2em;
    border-style: solid;
    border-width: 1px;
    padding: 0.1em;
}

a {
    color: #fff;
}

a:visited {
    color: #fff;
}